.coloring:hover {
  cursor: pointer;
  color: rgb(239, 239, 239);
}

.thumbs-icons {
  display: flex;
  justify-content: space-around;
}

.main-container {
  background-color: rgb(234, 234, 234);
  text-align: center;
  margin: 10px;
  height: 375px;
  width: 375px;
}
.cards {
  margin: 10px;
}
body {
  background-color: rgb(255, 255, 255);
}
header {
  background-color: rgba(255, 255, 255, 0.74);
}
.form {
  margin: 10px;
  background-color: rgba(243, 242, 241, 0.781);
  text-align: center;
  height: 220px;
  width: 770px;
}
.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn-submit:hover {
  transform: scale(1.1);
}

.btn-submit:active {
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

h1 {
  text-align: left;
}
